<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/style.css">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/clipboard.js/1.7.1/clipboard.js"></script>      	
        <script src = "https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <title>URL Shortener</title>
    </head>
    <body>
    <h1>URL shortener</h1>
    <div class = "form_div" id = "input_div">
        <h2>Enter a link and submit it to get a short version</h2>
        <form id = "input_form">
            <input id="input_link" placeholder="https://www.google.com">
            <input id = "submit_link" type="submit">
        </form>
    </div>
    <div class = "form_div" id="output">
        <h2>Shortened link</h2>
        <input id="output_link" value = "http://safe-crag-80479.herokuapp.com/" readonly >
        <button id="clipboard_share" data-clipboard-target="#output_link">
            Copy link
        </button>
    </div>
    <footer>
      Made by <a href="https://github.com/zamhaq" target="_blank">zamhaq </a> 
    </footer>
    </body>
        <script src="/script.js"></script>
</html>