<html>
<head>
  <title>URL-Shortner Home</title>
</head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
  <meta charset="utf-8" />
  <link rel="icon" type="image/png" href="assets/img/favicon.ico">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

  <link rel="icon" type="image/png" href="assets/img/favicon.ico">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />


  <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
  <meta name="viewport" content="width=device-width" />

  <!-- Bootstrap core CSS     -->
  <link href="assets/css/bootstrap.min.css" rel="stylesheet" />


  <!--  Light Bootstrap Table core CSS    -->
  <link href="assets/css/light-bootstrap-dashboard.css" rel="stylesheet"/>

  <!--     Fonts and icons     -->
  <link href="styles.css" rel="stylesheet" type="text/css">
  <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
  <link href='http://fonts.googleapis.com/css?family=Roboto:400,700,300' rel='stylesheet' type='text/css'>
  <link href="assets/css/pe-icon-7-stroke.css" rel="stylesheet" />
<body>
<!--Navigation Section starts here -->
  <nav class="navbar navbar-dark">
    <div class="navbar-header">
      <a class="navbar-brand" href="#"><img src="Logo.png" height="70" class="d-inline-block align-top" alt="LogoByUs"><strong>URL-Shortener </strong></a>
      <a href="#" class="btn btn-primary btn-lg">SignIn</a>
      <a href="#" class="btn btn-primary btn-lg">SignUp</a>
    </div>
  </nav>
  <hr>
  <!--Navigation section ends here -->
  <!--Main body section -->
  <div class="container">
  <form>
    <div class="form-group">

      <label for="inputlg"><h3>Enter the URL here<h3></label>
        <input class="form-control input-lg" id="inputlg" type="text" style="width: 500px;" placeholder="https://www.a-to-z.com/"></input><br>
        <button type="submit" class="btn btn-lg btn-info">Shorten It</button>
    </div>

  </form>
</div>
</body>
</html>
