<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Url Shorten</title>
    <link rel="stylesheet" href="/style.css">
  </head>
  <body>
      <h1>URL shortener API</h1>
      <div class="usage">
      <h2>Example Usage</h2>
        <a href="https://safe-crag-80479.herokuapp.com/new/https://www.google.com"  target="_blank">
          https://safe-crag-80479.herokuapp.com/new/https://www.google.com</a>
      </div>
      <div class="usage">
      <h2>Example Output</h2>
      <p>{original_url : https://www.google.com ,short_url: http://safe-crag-80479.herokuapp.com/80410 }</p>
      </div>
      <footer>
      Made by <a href="https://github.com/zamhaq" target="_blank">zamhaq</a>
   </footer>
  </body>
</html>
