/* Add a black background color to the top navigation */
.topnav {
    background-color: white;
    overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
    float: left;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
    background-color: #ddd;
    color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
    background-color: #4CAF50;
    color: white;
}
* {
    font-family: helvetica, arial, sans-serif;
}
.form_div {
    padding: 20px;
    background:transparent;
    display: block;
    text-align: center;
    margin: 20px auto 20px auto;
    font-size: 1.2em;
}
h1 {
    color: #311b92;
}
h1, h2 {
    text-align: center;
}
input,button {
    margin: 10px 20px 10px 20px;
    font-size: 1.2em;
    background: #ffffff;
    text-decoration: none;
    border: solid 2px green;
    padding: 10px;
    border-radius: 8px;
}
#input_link,#output_link {
    border: none;
    border-bottom: solid 3px black;
}
footer {
    position: fixed;
    margin-bottom: 10px;
    bottom: 0px;
}
footer > a {
    color: #311b92;
  }
body::before {
 background: url(body.jpg) no-repeat center center fixed;
 content: '';
 z-index: -1;
 width: 100%;
 height: 100%;
 position:absolute;
 -webkit-background-size: cover;
 -moz-background-size: cover;
 -o-background-size: cover;
 background-size: cover;
 opacity: 0.3;

}
