* {
    font-family: helvetica, arial, sans-serif;
}
.form_div {
    padding: 20px;
    background: #e0e0e0;
    display: block;
    text-align: center;
    margin: 20px auto 20px auto;
    font-size: 1.2em;
}
h1 {
    color: #311b92;
}
h1, h2 {
    text-align: center;
}
input,button {
    margin: 10px 20px 10px 20px;
    font-size: 1.2em;
    background: #ffffff;
    text-decoration: none;
    border: solid 3px black;
    padding: 10px;
}
#input_link,#output_link {
    border: none;
    border-bottom: solid 3px black;
}
footer {
    position: fixed;
    margin-bottom: 10px;
    bottom: 0px;
}
footer > a {
    color: #311b92;
  }